[user]
	name = Brett Richardson
	email = brett.richardson.nz@gmail.com
[core]
	excludesfile = /Users/brett/.gitignore_global
	editor = /usr/bin/vim
	quotepath = false
[difftool "sourcetree"]
	cmd = " "
	path = 
[mergetool "sourcetree"]
	cmd = " "
	trustExitCode = true
[alias]
	co = checkout
[push]
	default = current
[commit]
	template = /Users/brett/.stCommitMsg
